.main {
  flex: 1 1 0;
  display: flex;
}
.container-fluid {
display: flex;
}
.Head {
overflow-y: auto;

height: 90vh; /* NEW */
text-align: center;
}
body {
  font-size: 80px;
  font-family: 'Times New Roman';
}